.random-pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 500px;
}

.random-pokemon-container h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.random-pokemon-container h2 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #333;
}

.random-pokemon-container img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}


.random-pokemon-container li {
  background-color: #f8d7da;
  color: #721c24;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 5px;
}

.random-pokemon-container button {
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.random-pokemon-container button:hover {
  background-color: #0069d9;
}
